/* Custom Styles */

body {
background-color:#3A3A3A;
margin:15px 0px;
font-family: "Trebuchet MS",arial,sans-serif
}

a {
color:#390;
}

.container {
padding:0px 0px 0px 0px;
}

.content {
background-color:#fff;
widt:790px;
}

.masthead {
background-color:#000;
height:135px;
padding:0px 0px 0px 0px;
margin-bottom:10px;

}

.masthead-title {
width:400px;
float:right;
text-align:right;
font: bolder "Trebuchet MS",Arial,sans-serif;
margin-top:30px;
margin-right:20px;
}

.masthead-title a,.masthead-title a:hover,.masthead-title a:visited {
color:#fff;
text-decoration:none;
}

.cms_sitename {

letter-spacing: -2px;
color: #FFF;
text-transform: none;
top: 36px;
margin-right: 35px;
float:right;
display:inline;
text-align:right;
font-size:40px;
}

.cms_tagline {
float:right;
display:inline;
text-align:right;
font-size:18px;
}

.cms_nav {
float:left;
margin:10px 10px;
}

.cms_nav a,.cms_nav a:visited {
color:#ccc;
text-decoration:none;
}

.cms_nav a:hover {
color:#fff;
text-decoration:none;
}

.cms_footer {
background-color:#000;
color:#ccc;
font-size:16px;
padding:5px 5px;
}

.page,.post {
margin-bottom:0px;
}

.post-title, .page-title {
padding: 8px 0px 3px 0px;
text-transform: none;
background: transparent url("square_arrow.gif") no-repeat scroll 0% 0.7em;
border-bottom: 2px solid #F2F2F2;
color: #390;
margin:10px 15px;
font-size:18px;
font-weight:bold;
}

.post-title a,.page-title a {
color:#390;
}

.post-date {
margin:0px 15px;
font-size:14px;
}

.page-content,.post-content {
margin:0px 15px;
font-size:12px;
color:#555;
}
