---
layout: default
---

<div class="home">

	<center><img style="width:100px;border-radius:50% 50% 50% 50%;margin:25px auto;" src="/uploads/3723838.jpg"></center>

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.project.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
    <ul class="post-list">
      {% assign thepost = site.project | reverse %}
      {%- for post in thepost limit:1 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.content | markdownify | strip_html | truncatewords: 25 }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    <a href="/projects/" style="font-size:1em;margin-bottom:"> (More)</a>
    </br></br>
  {%- endif -%}


  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit:5 -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.content | markdownify | strip_html | truncatewords: 25 }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
    
    <a href="/posts/" style="font-size:1em"> (More)</a>

    <p class="rss-subscribe" style="display:none"><a href="{{ "/feed.xml" | relative_url }}">(RSS)</a></p>
  {%- endif -%}

</div>
